@font-face {
	font-family: 'Akaya';
	src: url('../fonts/AkayaTelivigala-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	line-height: 1.6em;
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	background-color: #fefefe;
}
a {
	color: inherit;
	text-decoration: none;
}
ol,
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4 {
	margin: 0;
	font-family: Akaya, sans-serif;
	font-weight: 400;
}
p {
	margin: 0;
}

/* styles of the markdown (article detail) */
.markdown p {
	line-height: 2em;
	margin: 1.8em 0;
	text-align: justify;
}
.markdown img {
	display: block;
	margin: 0 auto;
	max-width: min(100%, 750px);
	max-height: 750px;
	box-shadow: 0 0 15px #333;
	padding: 2px;
	border: 1px solid #021a40;
	background-color: #fff;
	cursor: pointer;
}
